<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Registration Form</title>
</head>
<body>
    <h3>Student Registration Form</h3>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        First Name: <input type="text" th:field="*{firstName}" />

        <br><br>

        Last Name: <input type="text" th:field="*{lastName}" />

        <br><br>

        Country:
        <select th:field="*{country}">
            <option th:value="Brazil">Brazil</option>
            <option th:value="France">France</option>
            <option th:value="Germany">Germany</option>
            <option th:value="India">India</option>
        </select>

        <br><br>


        <input type="submit" value="Submit" />
    </form>
</body>
</html>